/* footer */

ul.footer {
    padding: 0px;
    list-style-type: none;
    text-align: center;
    font-size: 35px;
}

li.blog {
    font-size: 35px;
    display: inline;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    font-size: 35px;
}

.follow {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 0.5rem 0;
    text-align: center;
    text-shadow: 1px 1px #eb455f;
}

.followContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: auto;
    margin-top: 15px;
}

.fa-hashtag {
    color: #FFC93C;
    text-shadow: 4px 1px #eb455f;
}

@media (min-width: 768px) {
    li.blog {
        font-size: 26px;
    }

    .follow {
        font-size: 2.5rem;
    }

    li.blog {
        font-size: 45px;
    }
}