/* header */

a:link.blog {
    text-decoration: none;
    text-shadow: none;
    color: black;
}

a:visited.blog {
    text-decoration: none;
    text-shadow: none;
    color: black;
}

a:hover.blog {
    text-decoration: underline;
}

.icon {
    padding-left: 9px;
    padding-right: 9px;
    margin-top: 3.5px;
}

.badge {
    height: 60px;
    width: 185px;
}

.listen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    padding: 15px 0px 0px 0px;
    z-index: 1;
    width: auto;
    top: 0px;
}

.listenItem {
    padding-left: 9px;
    padding-right: 9px;
}

@media (min-width: 768px) {
    .listen {
        flex-direction: row;
        padding: 75px 0px 0px 0px;
        height: 45px;
        margin: 0px 0px 50px 0px;
    }

    .badge {
        height: 55px;
        width: 165px;
    }
}